<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>file demo</title>
  <style>
  textarea {
    height: 45px;
  }
  </style>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
 
<form>
  <input type="button" value="Input Button">
  <input type="checkbox">
  <input type="file">
  <input type="hidden">
  <select><option>Option</option></select>
  <textarea></textarea>
  <button>Upload</button>
</form>
<div></div>
 
<script>
    //var input = $( "input:file" ).css({
      //background: "yellow",
      //border: "3px red solid"
    //});
    //$( "div" )
      //.text( "For this type jQuery found " + input.length + "." )
      //.css( "color", "red" );
    $( "form" ).submit(function( event ) {
      event.preventDefault();
    });
</script>
 
</body>
</html>